body {
  background-color: black;
  margin: 0;
}
.target {
  position: absolute;
  /* border: 1px solid white; */
}
.coordinate-numb {
  color: white;
  position: absolute;
}
.horisontal {
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: white;
}
.vertical {
  position: absolute;
  width: 2px;
  height: 100%;
  background-color: white;
}
